.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.container-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin-left: 10%;
  margin-right: 10%;
}

.content-wrap {
  flex: 1;
}

#root {
  /* background: rgb(2,0,36); */
  background: linear-gradient(
    to left bottom,
    #845ec2,
    #2c73d2,
    #0081cf,
    #0089ba,
    #008e9b,
    #008f7a
  );
  /* background: linear-gradient(rgba(250, 0, 0, 0.5), transparent);
    background-color: purple; */
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
